<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link width="" rel="shortcut icon" href="/images/favicon2.png" />

    <title>Mordisco</title>
    <!-- Font Awesome Stylesheet -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
    />
    <link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css" />

    <link rel="stylesheet" href="/stylesheets/app.css" />
    <link rel="stylesheet" href="/stylesheets/user-auth.css" />
  </head>

  <body class="register-body">
    <%- include("./partials/header", {isLogged: false}) %>

    <!-- Novedades -->
    <div class="container products-wrapper">
      <div class="row">
        <div class="col-12 headers-container">
          <h2 class="products-title">Registrate</h2>
          <p class="products-subtitle">
            ¡Accede a todas las funcionalidades de Mordisco!
          </p>
        </div>
        <div class="form-container">
          <form action="/users/register" method="POST" class="auth-form">
            <label for="user">Nombre de usuario</label>
            <input
              type="text"
              id="username"
              name="username"
              placeholder="clara.antelo"
              class="input-form"
              required
            />
            <label for="email">Email</label>
            <input
              type="email"
              id="email"
              name="email"
              placeholder="example@mail.com"
              class="input-form"
              required
            />
            <label for="birthdate">Fecha de nacimiento</label>
            <input
              type="date"
              id="birthdate"
              name="birthdate"
              class="input-form"
              required
            />
            <label for="birthcity">Ciudad de nacimiento</label>
            <input
              type="text"
              id="birthcity"
              name="birthcity"
              placeholder="Buenos Aires"
              class="input-form"
              required
            />
            <label for="password">Contraseña</label>
            <input
              type="password"
              id="password"
              name="password"
              placeholder="**********"
              class="input-form"
              required
            />
            <label for="confirmPassword">Confirmar contraseña</label>
            <input
              type="password"
              id="confirmPassword"
              name="confirmPassword"
              placeholder="**********"
              class="input-form"
              required
            />
            <% if (errors) { %>
            <div class="error-messages">
              <p>⚠️ <%= errors.message %> ⚠️</p>
            </div>
            <% } %>
            <input type="submit" value="Registrarse" id="submit-btn" />
          </form>
        </div>
      </div>
    </div>

    <%- include("./partials/footer") %>
  </body>
</html>
