body.register-body .products-wrapper {
  width: 100%;
  min-height: 60vh;
}

.headers-container {
  text-align: center;
}

.headers-container p {
  font-size: 15px;
  color: rgb(87, 87, 87);
}

.form-container {
  width: 100%;
  display: flex;
  justify-content: center;
}
.auth-form {
  width: 600px;
  margin-top: 6rem;
  padding: 60px 0 30px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid rgba(0, 0, 0, 0.11);
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.1);
}

.auth-form input {
  width: 80%;
  height: 35px;
  margin-bottom: 20px;
  padding-left: 8px;
  color: rgb(48, 48, 48);
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.3s ease;
}
.auth-form input:active,
.auth-form input:focus {
  outline: none;
  border: 1px solid rgb(46, 46, 46);
}
.auth-form label {
  width: 80%;
  text-align: left;
  font-size: 16px;
  margin-bottom: 5px;
  padding-left: 2px;
}
.remember-me-container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.remember-me-container input,
.remember-me-container label {
  width: unset;
  padding-left: 2px;
  margin: 0;
}
.remember-me-container input {
  margin-left: 10px;
}

#submit-btn {
  margin-top: 2rem;
  background-color: rgb(255, 255, 87);
  text-transform: uppercase;
  color: black;
  font-size: 15px;
}
#submit-btn:hover {
  background-color: rgb(255, 255, 0);
  cursor: pointer;
}
